.formulaire{
display: flex;
flex-direction: column;
gap: 10px;
}


.formulaire input[type="text"] {
    background-color: rgb(255, 255, 255);
}

.formulaire label{

}

.form__nom{

}

.form__prenom{}

.formulaire fieldset{
background-color: antiquewhite;
display: flex;
gap: 10px;
}

.formulaire legend{
    font-size: 1.5rem;
    padding: 3px;
}

.formulaire fieldset.language{
    flex-direction: column;}