.navigation {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0,0,0,.1);
    gap: 5px;
    padding: 10px ;
    flex-direction: column;
    transform: translateY(-600%);
    transition: transform .25s;
}

#burger{
    margin-top: auto;
    margin-left: auto; /*utilise espace restant a gauche de la navigation*/
}

.navigation a {
    color : #ffffff;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    
}

#chk_burger:checked ~ .navigation{
    transform: translateX(0);
}

#chk_burger{
    display: none;
}


