* {
    margin : 0;
    padding:0;
}

/*operateur css : https://www.w3schools.com/cssref/css_selectors.php*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    display : flex;
    flex-direction:column;
} 



/*
opérateur de sélection « > » permet de sélectionner
 l'enfant direct de la balise qui précède le «>»
 La différence entre « > » et « » c'est que plus grand permet de sélectionner
 l'enfant direct et « » permet de sélectionner l'enfant l'arrière petite enfant et ainsi de suite.

 Le « > » est plus spécifique que l'aopérateur « »
*/
body  > div {
    display : flex;
    justify-content: center;
    
}



body > div > section,
body > div > footer,
body > div > header,
body > div > article {
    display : flex;
    flex: 0 1 1100px;
    border-bottom: 1px solid white;
    
}


body > div > header{
    position: relative;
    gap: 30px; 
    display: flex;
    justify-content:space-evenly;
}

body > div > section{
    min-height : 100vh;
    padding-top: 100px;
}

h2{
padding-bottom: 50px;
}

body > div > section > article{
  min-height : 100vh;
 
}

body>div:nth-of-type(1){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
    position: sticky;
    top: 0;
    z-index: 1;
}
body>div:nth-of-type(2){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}
body>div:nth-of-type(3){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}
body>div:nth-of-type(4){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}
body>div:nth-of-type(5){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}

body>div:nth-of-type(6){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}

body>div:nth-of-type(7){
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}

#footer{
  background-image: linear-gradient(90deg,rgb(72, 34, 121),rgb(236, 175, 255),rgb(64, 0, 128));
}

body>div>header>h1{
    color: white;
    font-size: clamp(3rem,10vw,4rem);
    padding-right: 30%;
}

header img{
    display: block;
    height: 140px;
    padding-right: 10%;
}

/*accueil*/

#accueil{
  display: flex;
}

#accueil h3{
  padding: 20px;
  color: white;
}

#accueil h2{
  padding-left: 50px;
  color: white;
}

#accueil ul{
  padding: 30px;
  color: white;
  
}

#accueil li{
  padding: 30px;
  list-style: circle; /*change les points de la liste en cercles*/
  font-family: 'Smooch Sans', sans-serif;
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}


/*texte size, font family,etc*/
h1,h2,h3{
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

h1{
  font-size: clamp(1rem,-0.875rem + 8.333vw,3.5rem) ;
  text-shadow: 2px 2px 2px #555;
}
h2{
  font-size: clamp(2rem, 4vw, 2.5rem);
  padding-left: 50px;
}

figcaption{
  font-family: 'Titillium Web', sans-serif;
}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
}

/*footer*/
footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 20px;
  gap: 1px;
  color: white;
  
}

.piedpage h3 {
    margin-bottom: 10px;
  }
  .pied__adresse {
    flex: 1 1 0;
  }
  .pied__adresse ul,
  .pied__lien ul {
    margin-left: 20px;
  }
  
  .pied__lien {
    flex: 1 1 150px;
  }
  
  .pied__departement {
    flex: 0 1 300px;
    padding-left: 20px;
  }

 .pied__sociaux{
  flex: 0 1 100px;
  padding-left: 50px;
  padding-right: 100px;
 }
 .pied__avis{
 flex:  0 1 300px;
 padding-top: 30px;
 }
