.horaire{
    border-collapse: collapse;
    display: flex;
    flex: 0 1 1100px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-left: 50px;
}

  /*modifications de paddings, font-size, color, 
  font family,etc sur les elements du tableau*/
  
  #horaire h2{
    padding-left: 20px;
  }

.horaire td,th{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.horaire th{
    background-color: rgba(29, 69, 121, 0.534);
    color: aliceblue;
}

.cours {
    font-family: 'Inconsolata', monospace;
    background-color: rgba(91, 163, 192, 0.491);
    color: white;
    
}

.jours{
    font-family: 'Playfair Display', serif;
}

.libre{
    font-family: 'Playfair Display', serif;
    
    background-color: rgba(33, 85, 106, 0.446);
    color: rgb(255, 255, 255);
    font: small;
}

.heure{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

caption{
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(255, 255, 255, 0.482);
    margin-top: 80px;
    color: rgb(51, 0, 93);
}

.vide{
    background-color: aliceblue;
}
