.horaire{
    border-collapse: collapse;
    flex: 0 1 1100px;
}

  
  #horaire h2{
    padding-left: 20px;
    font-size: 30px;
  }

.horaire td,th{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.horaire th{
    background-color: rgb(29, 69, 121);
    color: aliceblue;
}

.cours {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(91, 163, 192);
    
}

.jours{
    font-family: 'Playfair Display', serif;
}

.libre{
    font-family: 'Playfair Display', serif;
    
    background-color: rgb(33, 85, 106);
    color: rgb(255, 255, 255);
    font: small;
}

.heure{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

caption{
    font-size: 2rem;
    font-family: 'Foldit',sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
}

.vide{
    background-color: aliceblue;
}
